@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Square721 BdEx BT';
  src: url('./assets/fonts/square721bdexbtrusbyme_bold.otf') format('opentype'), 
}

:root {
  font-family: 'Open Sans', 'Square721 BdEx BT',sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  text-align: left;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-accent: #915DFF;
  --color-secondary: #DAFF45;
  --color-gray: #3B3B3B;
  --color-bg: #000000;

  --outline: var(--color-gray) 1px solid;
  --margin: 24px;
  --indent: 24px;
  --empty-height: 32px;
  --desktop-indent: 96px;

  --desktop-container-width: 1024px;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  * {
    margin: 0;
    box-sizing: border-box;
    cursor: default;
  }
}

h1 {
  font-size: 6em;
  font-family: 'Square721 BdEx BT';
  color: var(--color-accent);
  text-transform: uppercase;
}
h2 {
  font-size: 2.875em;
  font-family: 'Square721 BdEx BT';
  text-transform: uppercase;
}
h3 {
  font-size: 1.375em;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}

p {
  font-size: 1.0625em;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-align: inherit;
}

#app {
  width: 100vw;
  margin: 0 auto;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  background-image: url(./assets/images/noise.svg);
  background-size: 80px;
}

// text styles 
.bordered-text {
  color: black;
  text-shadow: 0 0 2px var(--color-accent), 0 0 2px var(--color-accent), 0 0 2px var(--color-accent), 0 0 2px var(--color-accent);
}
.green-text {
  color: var(--color-secondary);
}
.purple-text {
  color: var(--color-accent);
}

.scroll-snap {
  scroll-snap-align: center;
}
.scroll-snap-top {
  scroll-snap-align: start;
}

.spinning-button {
  color: black;
  font-weight: 700;
  width: calc(100% - 48px * 2);
  aspect-ratio: 1;
  margin: 0 auto;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  &::before {
    content: '';;
    position: absolute;
    background-image: url(./assets/images/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: rotate 10s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@keyframes glitch{
  59% {
    transform: translate(0,0) skew(0deg);
  }
  64%{
    transform: translate(2px,0) skew(0deg);
  }
  60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
  63% {
    transform: translate(0,0) skew(0deg);
  }
}

@keyframes glitchTop{
  59% {
    transform: translate(0,0) skew(0deg);
  }
  60%{
    transform: translate(2px,-2px);
  }
  61%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
  63% {
    transform: translate(0,0) skew(0deg);
  }
}

@keyframes glitchBotom{
  63% {
    transform: translate(0,0) skew(0deg);
  }
  64%{
    transform: translate(-2px,0);
  }
  65% {
    transform: translate(0,0) skew(0deg);
  }
  94% {
    transform: translate(0,0) skew(0deg);
  }
  95%{
    transform: translate(-22px,5px) skew(21deg); 
  }
  96% {
    transform: translate(0,0) skew(0deg);
  }
}

.glitch {
  animation: glitch 4s linear infinite;
  &:before,
  &:after{
    content: attr(title);
    position: absolute;
    left: 0;
    top: 0;
  }

  &:before{
    animation: glitchTop 4s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  &:after{
    animation: glitchBotom 6s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
}